[data-editable] {
  [data-font-size] {
    line-height: 126.1%;
  }
  .block-link {
    display: block;
    height: inherit;
    margin: 0 auto;
  }
  .font-size-8 {
    font-size: 11px !important;
  }
  .font-size-10 {
    font-size: 13px !important;
  }
  .font-size-12 {
    font-size: 16px !important;
  }
  .font-size-14 {
    font-size: 19px !important;
  }
  .font-size-16 {
    font-size: 21px !important;
  }
  .font-size-18 {
    font-size: 24px !important;
  }
  .font-size-20 {
    font-size: 27px !important;
  }
  .font-size-24 {
    font-size: 32px !important;
  }
  .font-size-36 {
    font-size: 48px !important;
  }

  .text-right {
    text-align: right;
  }
  .text-left {
    text-align: left;
  }
  .text-center {
    text-align: center;
  }
  a {
    color: inherit;
  }
  p {
    margin: 0;
  }
  i {
    font-style: italic;
  }
  b {
    font-weight: 700;
  }
}
