
// Font
$default-family: 'Montserrat', sans-serif;
$default-font: 16px;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;

// Colors
$accent-color: #F77B31;
$black-color: #000;
$white-color: #fff;
$green-color: #2bc94b;
$gray-color: #f1f1f1;
$blue-color: #064572;
$top-bg-color: #e7eff3;
$form-footer-color: #efefef;
$border-color: #b4b3b3;
$placeholder-color:#b1b1b1;
$label-color: #373737;
$footer-bg-color: #efefef;
$offer-bg-color: #f1f1f1;
$offer-text-color: #363f40;

// Borders
$border-radius-10: 10px;
$border-radius-5: 5px;

// Container
$containerWidth: 1188px; 

